.footer {
  padding: 26px 0px;
  font-family: "Montserrat";
  font-size: 18px;
  text-align: center;
  color: #fff;
  background: #000;
  @media screen and (max-width: 768px) {
    padding: 32px 0px;
  }
}
